<center><h3>Let's get started. </h3></center>

<ul>
<% @users.each do |user| %>
 <li><a href="/users/<%=user.id%>"><%=user.username%></a></li>
<% end %>
</ul>








<center><p><a href='/signup'>Or sign up here</a></p></center>
