<center><h2>Log In to Your Account</h2></center>

<form action="/login" method="POST">


  <label for="username">Username: </label>
  <p><input type='text' name="username" value= "" id='username'></p>

  <label for="password">Password: </label>
  <p><input type='password' name='password' value= "" id='password'></p>
  <input type='Submit' name= "" value="Join">

</form>
<br>

<p>Don't have an account yet? </p>
<p><a href='/signup'>Sign up here.</a></p>

<p><a href='/'>Back to the home page.</a></p>
