<!DOCTYPE html>
<html>
    <head>
        <title>Find A Band</title>
    </head>
    <body>
        <center><img src="/images/IMG_0082.PNG" alt="HTML5 Icon" style="width:128px;height:128px;"></center>
        <center><h1 style='color:Tomato;'>Find A Band</h1></center>
        <center><p>Join A Band. Find A Band. One Place.</p></center>
        <center><p><a href='/login'>Log In </a></p></center>
        <center><p><a href='/signup'>Or sign up here</a></p></center>



        <center><h2>Sign Up</h2></center>
    </body>
</html>
