
<html>
    <head>
        <title>Find A Band</title>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <center><img src="/images/IMG_0082.PNG" alt="HTML5 Icon" style="width:128px;height:128px;"></center>
        <center><h1 style='color:Tomato;'>Find A Band</h1></center>
        <center><p>Join A Band. Find A Band. One Place.</p></center>
        <center><h4>Current User: <%= current_user ? current_user.username : "No one logged in."%></h4></center>



        <% if is_logged_in? %>
        <form class="" action="/logout" method="GET">
        <center><input type= "submit" name="_method" value="Log Out"></center>
        </form>
        <% else %>
        <center><p><a href='/signup'>Sign Up </a></p></center>
        <center><p><a href='/login'>Log In </a></p></center>
        <% end %>
        <center><p><a href='/users'>View All Users </a></p></center>
        <center><p><a href='/posts'>View All Listings </a></p></center>
        <center><p><a href='/posts/new'>Create A New Listing </a></p></center>


        <%= yield %>
    </body>
</html>
